.logo h1 span, .slide_info h2 span { color: white!important; }
.slide_info { padding: 150px 0 50px 0!important; }
.copyright a { margin: 15px; }
/*.alignnone {*/
    /*width: auto;*/
    /*margin: auto;*/
    /*display: flex;*/
    /*padding-top: 30px;*/
/*}*/