/* Mobile Portrait View */
@media screen and (max-width:767px) {
h1, h2, .footer h3 {font-size:24px !important;}
section {padding:30px 20px;}
.container, .header .header-inner .nav{ padding:0 20px; width:auto;}
.header-top {line-height:30px;}
.logo{ width:75%; padding:0;}
.logo img {height:auto !important;}
.logo h1 {font-size:30px !important;}
.logo a {display:block;}
.header-right, .header-content{width:100%;}
.toggle {float:right; border-radius:5px;}
.book-btn {float:none; display:table; width:100%; text-align:center; margin:20px auto auto;}
.header-top {position:relative; margin-bottom:0;}
.header-left .column1 {display:inline-block; float:none; margin-right:5px; padding-right:5px;}
.header-left .column1 i {margin-right:5px;}
.header-left .column1:last-child {margin-right:0; padding-right:0; border:none;}
.header-right .social-icons {display:table; margin:auto; padding:0;}
.nivo-controlNav{ bottom:0; width:auto; text-align:center;}
.one_four_page-wrap {padding:40px 20px; width:auto;}
.header .header-inner .nav ul li a {margin:0;}
.header-left {float:none; text-align:center; padding:10px 5px; border-bottom:solid 1px #eae9e9;}
.header .header-inner {padding:15px; position:relative; box-sizing:border-box;}
.header .header-inner .header-nav{ margin:0 auto;}
.slider-main, .innerbanner, .homeservices{top:0; margin-bottom:0;}
.slider-main{ min-height:125px;}
.nivo-caption{ display:none !important;}
.one_four_page{ margin:0 auto 40px auto; display:block; width:auto; padding:0;}
.news-box{ width:auto; height:100%; margin-right:0; margin-bottom:10%; padding:0; float:none; display:inline-block;}
.news-box .news-thumb {float:none; width:100%; margin:0; height:auto;}
.about-section img {max-width:100%; width:100%;}
section h2.section_title {margin-bottom:30px; font-size:23px;}
.about-services {padding:20px 0;}
.news, #sitemain .news, .nosidebar .news{min-height:inherit;}
#sitemain .date-news, .nosidebar .date-news{width:70px;}
#sitemain .date-news .byadmin-date, .nosidebar .date-news .byadmin-date, #sitemain .date-news .byadmin-month, .nosidebar .date-news .byadmin-month{ padding:10px 15px;}
.one-page {width:auto; margin:0 0 30px 0;}
.our-testimonials { width:100%; float:none;}
.ourteam_col{ width:100%; margin:0 auto 30px auto; padding:20px; border:solid 1px; text-align:center;}
.ourteam_content h6::after {right:auto; left:0;}
.ourteam_content-left, .testimonial-thumb {float:none; display:table; margin:auto auto 20px;}
.section-teammember .read-more.center {margin:auto;}
.our-testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"] {position:relative; top:0;}
.owl-carousel .owl-controls .owl-nav .owl-next {right:-15px;}
.owl-carousel .owl-controls .owl-nav .owl-prev {left:-15px;}
.photobooth .filter-gallery ul {padding:8px 10px;}
.photobooth .gallery ul li {margin-bottom:20px;}
.photobooth .filter-gallery ul li {margin:0 0 6px 0; display:block; padding:0;}
.section-teammember{ margin:0; border:none;}
.homecontact-left, .homefindus-right{ width:100%; float:none; margin:0 auto 15% auto;}
#sitemain .clientlogo, .nosidebar .clientlogo{ width:48.5%; margin:0 2.5% 2.5% 0;}
#sitemain .clientlogo:nth-child(2n+2),.nosidebar .clientlogo:nth-child(2n+2){ margin-right:0;}
/* Footer */
.footer ul li{ width:auto; margin-right:0; float:none;}
.cols-2 .widget-column-1, .cols-2 .widget-column-3, .cols-3 .widget-column-1, .cols-3 .widget-column-2, .cols-3 .widget-column-3, .cols-4 .widget-column-1, .cols-4 .widget-column-2, .cols-4 .widget-column-3, .cols-4 .widget-column-4{ width:auto; float:none; clear:both; min-height:inherit; margin:0 0 12% 0; padding:0;}
.cols-2 .widget-column-1, .cols-3 .widget-column-2, .cols-4 .widget-column-2, .cols-4 .widget-column-3{ border:none; padding:0;}
.cols-4 .widget-column-4 {padding-top:20px;}
.copyright-txt, .design-by{ float:none; margin:0 auto;text-align:center; width:auto; display:block;}
.footer {padding:30px 20px;}
/* Pages */
#sidebar{ width:100%; float:none;}
.sidebar-left{ float:none !important; width:100%;}
.blog-post-repeat .post-thumb img{ float:none; margin-right:0; width:100%; height:100%;}
.photobooth .filter-gallery{ width:auto;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:100%;}
.photobooth .gallery ul li img{ height: auto;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:100%;}
.content-area{ width:auto; margin:0; padding:20px 10px;}
.site-main{ width:auto; margin:0; padding:0; float:none;}
.contact_left, .contact_right{ float:none; width:100%; margin-bottom:10%;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], #contactform_main textarea{width:100%; margin-right:0;}
.col-6-3 {width:100%; margin-bottom:20px;}
.col-6-3 a {padding:30px; height:auto;}
.news {padding:20px; width:auto;}
.latestnews {background:none !important;}
.post-row:nth-child(2n) .news h4::after {left:0;}
.news-box .news-thumb img {min-height:inherit;}
.ourteam_content {bottom:0;}
.right-side-form {width:100%;}
.col-6-3 a {padding:20px;}
.col-6-3 a img {margin-right:15px;}
.testimonials-home .owl-theme .owl-controls {margin-top:30px;}
.three_column, .two_column { width:100%; box-sizing:border-box;}
.news .read-more {position:relative; bottom:0;}
.latestnews .read-more.center {margin-top:10px;} 
.home-post-comment {top:30px; left:20px;}
.news-box .news-thumb::after {top:20px; border:none !important;}	
	
	
	
	
.left, .right, .copyright-txt, .design-by{ float:none;}
#pagefixed{ width:auto; margin:10px;}
.container { width:auto; padding:0 20px;}
.header{ padding-top:15px;}
.header_right{ float:none; width:auto; }
.headerinfo{ padding:10px 0; float:none;}
.logo{ width:auto; float:left; text-align:left; padding:0;}

.topleft, .topright{ float:none; width:auto; text-align:center; }
.headerinfo .headcol-1, .headerinfo .headcol-2, .headerinfo .headcol-3{ width:auto; border:none; margin:0 0 10px; float:none;}
.social-icons a{ display:inline-block;}
#pagearea .threebox{ width:auto; float:none; margin:0 0 30px; width:85%;}
/*sidebar css*/
#sidebar{ width:100%; float:none;}

/* --------- Pages ------- */
.content-area{ width:auto; margin:0; padding:50px 20px;}
.site-main{ width:auto; margin:0 0 30px; padding:0; float:none;}
h2.section-title{ font-size:22px; line-height:26px;}
/*slider css*/
#slider{ top:0; margin:0;}
.nivo-directionNav{ top:33% !important;}
/*footer css */
.copyright-wrapper{ text-align:center;}
.fixed3{ width:auto; float:none; margin:0 0 15px;}
.cols-3{ width:100% !important; display:block; margin-right:0; margin-bottom:15%;}
div.recent-post p{ line-height:18px;}
/*custom css*/
h2.section_title{ text-align:center;}
/*front blog post*/
.BlogPosts{ float:none; width:auto; margin:0 0 10% 0;}
.post-thumb{ width:30%; float:left; margin:0 25px 15px 0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
.slider-wrapper{min-height:inherit; background-image:none;}
body.home.blog .header-inner{position:relative; box-sizing:border-box;}
.header-inner{padding:20px 15px; position:relative; box-sizing:border-box;}
}

@media screen and (min-width:300px) and (max-width: 480px){
.post-thumb{ width:100%; float:none; margin:0 0 15px;}
.headerinfo{ margin:0 auto; float:none; padding-left:25px;}
#pagearea .threebox h3{ font-size:16px;}
.post-thumb{ width:100%; float:none; margin:0 0 15px 0;}
.post-thumb img{ width:100%; }
}

/* Mobile Landscape View */
@media screen and (min-width: 480px) and (max-width: 767px){
	
section {padding:40px 20px;}
.container {padding:0 10px; width:480px; box-sizing:border-box;}
.logo h1 {font-size:28px !important;}
.logo{width:50%; padding:20px;}
.logo img {height:auto !important;}
.logo a {display:block;}
.header-content {width:100%; margin:0;}
.header .header-inner .nav {margin-top:65px !important;}
.header-left {padding:10px 0 10px 10px;}
.header-right .column2{float:none;}
.header .header-inner .header-nav{ margin:0 auto;}
.header .header-inner {padding:0; position:relative;}
.header-right .column2 .social-icons a {margin:0 0 0 8px; line-height:normal;}
.toggle {float:right; padding:20px 20px 0 0;}
.one_four_page-wrap {padding:30px 0;}
.header-left .column1 {padding-right:8px; margin-right:8px;}
.slider-main{ min-height:200px;}
.slider-main, .innerbanner, .homeservices{top:0; margin-bottom:0;}
.nivo-controlNav{ bottom:10px; text-align:center; width:auto;}
.nivo-caption {top:30%;}
a.sldbutton {padding:10px 20px;}
.slider-content {width:auto;}
.slide_info, .about-section {box-sizing:border-box; padding:0 20px;}
.slider-main .slide_info h2{font-size:22px; margin:auto; padding:10px 0;}
.slide_info p, .slide_info h3{ display:none;}
.slide_info a.sldbutton {margin-top:20px;}
.one_four_page {float:left; width:50%; padding:0 20px; margin-bottom:30px;}
.one_four_page_content p {padding-bottom:50px;}
#sitemain .threebox i, .nosidebar .threebox i{display:inherit;}
.news-box{ width:auto; height:100%; margin-right:0; margin-bottom:10%; padding:25px; float:none; display:inline-block;}
.news, #sitemain .news, .nosidebar .news{min-height:inherit;}
.news {border:none; padding:0 15px 15px;}
.news-box {border:solid 1px #efeeee;}
#sitemain .date-news, .nosidebar .date-news{width:70px;}
#sitemain .date-news .byadmin-date, .nosidebar .date-news .byadmin-date, #sitemain .date-news .byadmin-month, .nosidebar .date-news .byadmin-month{ padding:10px 15px;}
.news .read-more {bottom:10px; }
section h2.section_title {margin-bottom:30px;}
.about-section img {max-width:100%; margin:0 0 30px 0;}
.post-admin {margin-right:20px;}
.post-admin-date {padding-bottom:10px;}
.news h3 {font-size:18px;}
.ourteam_thumb img {min-height:250px;}
.one-page {width:auto; margin:0 0 10% 0;}
.one_four_page {border-color:#eaeaea !important;}
.section-teammember{ margin:0; border:none;}
.testimonials-home .carousel-content {margin:0;}
.ourteam_col{padding:20px; width:100%; margin:0; border:solid 1px; margin:0 0 20px;}
.ourteam_content {bottom:-65px;}
.section-teammember .read-more.center {margin-top:20px;}
.our-testimonials {width:auto; padding:0 20px;}
.owl-carousel .owl-controls .owl-nav .owl-prev {left:-32px;}
.owl-carousel .owl-controls .owl-nav .owl-next {right:-32px;}
.testimonial-thumb {margin-right:20px;}
.our-testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"] {top:60%;}
.news-box .news-thumb {height:auto;}
.news-box .news-thumb img {min-height:inherit;}
.homecontact-left{ width:100%; float:none; margin:0 auto 15% auto;}
.homefindus-right{ width:100%; float:none; margin:0 auto;}
.clientlogo{ margin:0 2% 2% 0; width:27%;}
.mis-slider li.mis-slide.mis-current figcaption {width:auto; margin:10% auto auto;}
.mis-slide, .mis-stage {height:auto !important; min-height:520px;}
.mis-slider li a {margin:0 !important;}
#recent-work .container {width:460px; padding:0 10px;}
.footer-photos img {width:30.6%; margin:0 4% 4% 0;}
/* Footer */
.cols-2 .widget-column-1, .cols-2 .widget-column-3, .cols-3 .widget-column-1, .cols-3 .widget-column-2, .cols-3 .widget-column-3, .cols-4 .widget-column-1, .cols-4 .widget-column-2, .cols-4 .widget-column-3, .cols-4 .widget-column-4{ width:auto; float:none; clear:both; min-height:inherit; margin:0 0 4% 0; padding:20px 0;}
.cols-2 .widget-column-1, .cols-3 .widget-column-2, .cols-4 .widget-column-2, .cols-4 .widget-column-3{ border:none; padding:0;}
.copyright-txt, .design-by{ float:none; margin:0 auto;text-align:center; width:auto; display:block;}
#sidebar{ width:100%; float:none;}
.sidebar-left{ float:none !important; width:100%;}
.flotRight{ float:none !important;}
.photobooth .filter-gallery{ width:auto;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:48%; margin:4.6px;}
.photobooth .gallery ul li {height:200px;}
.photobooth .gallery ul li img {min-height:200px;}
.photobooth .filter-gallery ul li a{ padding:2px 5px;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:100%;}
.content-area{margin:0 auto; padding:20px 10px;}
.site-main{ width:auto; margin:0; padding:0; float:none;}
.contact_left, .contact_right{ float:none; width:100%; margin-bottom:10%;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], #contactform_main textarea{width:100%; margin-right:0;}
.copyright {margin-top:-20px;}
.three_column, .two_column { width:100%; box-sizing:border-box;}
.home-post-comment {top:20px; left:15px;}
.news-box .news-thumb::after {top:10px;}	
	
#pagefixed{ width:460px; margin:40px auto;}
.nivo-caption, .nivo-controlNav{ display:block !important; left:0 !important;}
.nivo-caption{ width:100%; bottom:15%; left:20%; }
.slide_info h2{ font-size:20px !important; line-height:30px; text-shadow:1px 0 0 #333; padding-top:10px;}
.slide_info h2 span{ font-size:20px !important;}
.slide_info p{ font-size:13px !important; }
.headerinfo{ width:225px; margin:0 auto; float:none;}
.slider-wrapper{min-height:inherit; background-image:none;}
}


/* Tablet View */
@media screen and (max-width:1209px) and (min-width:768px) { 
.container{ padding:0 20px; width:auto;}
section {padding:40px 20px;}
.header .header-inner {width:94.8%;}
.logo h1 {font-size:30px !important;}
.logo{width:26%;}
.logo img{ height:auto !important;}
.header-content, .our-testimonials {width:100%;}
.header .header-inner .nav {}
.slider-main{min-height:337px;}
.header .header-inner .nav ul li a {padding:18px 10px;}
.owl-carousel .owl-controls .owl-nav .owl-prev {left:0;}
.owl-carousel .owl-controls .owl-nav .owl-next {right:0;}
.header .header-inner .nav ul li:hover > ul {top:76px;}
.slide_info {padding:20px 0;}
.slider-content {width:60%;}
.nivo-controlNav{ bottom:10px;}
.nivo-caption .slide_info h2 {font-size:30px; padding-bottom:10px;}
a.sldbutton {padding:10px 30px;}
.one_four_page{padding:0 10px;}
.one_four_page .thumb_four_page img{ width:auto; height:auto;} 
.fa-4x {font-size:3em;}
section h2.section_title, #recent-work h2 {margin-bottom:4%;}
.one_page {margin-bottom:10px;}
.one-page .read-more, .read-more.center, .section-teammember .read-more.center {margin-top:20px;}
.one-page h2.section_title, .services-col-content h4 {margin-bottom:10px;}
.about-section img {max-width:45%; margin:0 20px 0 0;}
.services-col {padding-bottom:10px; margin-bottom:10px;}
.services-col i, .post-admin {margin-right:15px;}
.post-admin-date {padding-bottom:10px;}
.news {min-height:inherit; border:none; padding:10px 12px;}
.news-box {margin-right:20px; width:48.5%;}
.news .read-more {bottom:10px; font-size:12px; line-height:26px;}
.news h3 {font-size:18px; line-height:22px;}
.one_four_page-wrap .one_four_page h4 {font-size:17px;}
.ourteam_col {width:100%; border:solid 1px; margin-bottom:20px; padding:20px;}
.ourteam_col:hover .ourteam_content {padding:0 0 22px;}
.centernewsborder {right:-14%;}
.section-teammember .ourteam_col h3 {margin:15px 0 5px 0; font-size:16px;}
.ourteam_content h6 {padding-bottom:10px; margin-bottom:10px;}
.ourteam_content p {padding-bottom:5px; line-height:20px;}
.section-teammember {margin:0; border:0;}
.our-testimonials .owl-theme .owl-controls .owl-nav [class*="owl-"] {top:60%;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], .wpcf7 form input[type="text"], .wpcf7 form input[type="email"], .wpcf7 form input[type="tel"], select{width:48.5%;}
#contactform_main textarea, .wpcf7 form textarea{ width:98.5%;}
#sitemain .clientlogo, .nosidebar .clientlogo{ margin-right:5px;}
.footer ul li{ width:auto; margin-right:0; float:none;}
.footer {padding:0 20px;}
#footer-wrapper .footer h3 {font-size:18px;}
.cols-3 .widget-column-1, .cols-3 .widget-column-2, .cols-3 .widget-column-3, .cols-2 .widget-column-1, .cols-2 .widget-column-3 {padding:30px 0;}
.cols-3 .widget-column-2 {padding:30px 20px 10%; margin:0 20px;}
.cols-3 .widget-column-3 {width:29%;}
.phone-no span {width:60px;}
.content-area{ width:auto; margin:0; padding:40px 20px;}
#sitemain .threebox, .nosidebar .threebox{ text-align:center;}
#sitemain .threebox .chooseus-content, .nosidebar .threebox .chooseus-content{ width:auto;}
#sitemain .client-thumb img, .nosidebar .client-thumb img{ float:none; text-align:center; margin:0 auto; display:table;}  
#sitemain .right-thumb-content, .nosidebar .right-thumb-content{width:60%;}
#sitemain .user-comment .left, .nosidebar .user-comment .left{display:none;}
#sitemain .user-comment, .nosidebar .user-comment{ padding:5px;}
#sitemain .team-social-icon a, .nosidebar .team-social-icon a{width:25px;}
#sitemain .news a.read-more, .nosidebar .news a.read-more{ padding-left:0; padding-right:0; text-align:center; width:100%; left:0;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:21.7%; height:155px;}
.photobooth .gallery ul li:hover a::before {margin:10px 7px 7px;}
.photobooth .gallery ul li img {min-height:158px;}
.cols-4 .widget-column-1 {width:25%;}
.cols-4 .widget-column-2 {width:24%; margin:0 1.5%; padding:50px 12px;}
.cols-4 .widget-column-3 {margin-right:1.5%; width:18%; padding-right:12px;}  
.site-main{ width:65%;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:20%;}
.right-side-form {width:50%;}
.news-box .news-thumb {height:250px;}
.news-box .news-thumb img {min-height:250px;}
.footer .social-icons a {margin-right:15px;}
.home-post-comment {top:20px; left:10px;}
.news-box .news-thumb::after {top:15px;}
.recent-post img {margin-right:10px;}

#pagefixed{ width:auto; margin:40px 10px;}
.social-icons a{ box-sizing:content-box; margin-bottom:5px; }
.container { width:auto; padding:0 20px;}
.logo{ width:22%;}
.header_right{ width:75%;}
#pagearea .threebox{ width:26.5%; margin-right:30px;}
/*slider css*/
.nivo-caption{width:100%; bottom:22%;}
.slider-wrapper{ min-height:400px;}
.slide_info h2{ font-size:24px !important; line-height:30px; }
.content-area{ width:auto; margin:0; padding:50px 20px;}
#sidebar{ width:30%;}
.site-main{ width:65%;}
.cols-3 h5{ font-size:16px;}
.welcomewrap img{ width:50%;}
.fixed3{ width:27.5%;}
.slider-wrapper{min-height:inherit; background-image:none;}
.header-inner{width:96.1% !important; height:110px;}
body.page .header-inner, body.wp-customizer .header-inner{ width:100% !important;}
.nivo-caption{display:block !important;}
}

@media screen and (min-width:768px) and (max-width: 980px){
.logo{ width: auto !important; float:left; margin:0 auto; text-align:left;}
.header-inner{width:94.8% !important;}
.logo h1 {font-size:28px !important;}
.logo{width:50%; padding:20px;}
.logo img {height:auto !important;}
.logo a {display:block;}
.toggle {float:right; padding:20px 20px 0 0;}
.header_right{ width:100%; float:none;}
.fixed3{ width:41%; margin-bottom:25px;}
#pagearea .threebox{ width:25%; margin-right:25px;}
.nivo-caption{display:block !important;}
}


@media screen and (max-width: 980px){
.toggle a {background: #34c6f6 url("../images/mobile_nav_right.png") no-repeat scroll center center; border-radius: 50%; color: #ffffff; font-size: 16px; margin: 0; padding: 12.7px 23px; text-indent: -9999px; width: auto;}	
.toggleMenu{display: block;9999;}
.getaquote{ position:relative; margin:0 auto 5% auto; float:none; display:table;}
.sitenav{float:none; margin:65px 0 0 0; padding:0; position:relative; overflow-x:hidden; clear:both; background-color:#FFF;}
.sitenav ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0;}
.sitenav ul li{display:block; float:none; text-align:left; padding:0; margin:0; list-style:none;}
.sitenav ul li a{padding:5px 15px !important; display:block; color:#000; border-bottom:1px #cccccc solid !important; border-right:none; line-height:30px; margin-left:0;}
.sitenav ul li ul, .sitenav ul li ul ul{ display:block !important;}
.sitenav ul li ul li a:before{content:"\00BB \00a0";}
.sitenav ul li ul li a{padding-left:20px !important;}
.sitenav ul li ul li ul li a{padding-left:30px !important;}
.sitenav ul li ul li ul li ul li a{padding-left:40px !important;}
.sitenav ul li:hover > ul{ background:none transparent !important; width:auto !important; display:block; position: relative !important; left:0; right:0; top:0;}
.sitenav ul li:hover ul li ul, .sitenav ul li:hover ul li:hover > ul, .sitenav ul li:hover ul li:hover > ul li ul{  background: transparent !important; display:block; position:relative !important;  right:0; left:0; top:0;}
.sitenav ul li:hover ul li:hover ul, .sitenav ul li:hover ul li:hover ul li:hover ul{ left:0 !important;}
}